hardware-module identifier CSR encoding underspecified?

Pulled from: https://github.com/brandonweeks/draft-bweeks-acme-device-attest/issues/9#issue-3212357654
Opened by: https://github.com/cpu

Of the two new identifier types (permanent-identifier, and hardware-module), only permanent-identifier describes how it should appear in a CSR, saying in [§3](https://www.ietf.org/archive/id/draft-acme-device-attest-04.html#section-3):

    The identity along with the assigning organization can be included in the Subject Alternate Name Extension using the PermanentIdentifier form described in [[RFC4043](https://www.ietf.org/archive/id/draft-acme-device-attest-04.html#RFC4043)].

In contrast, [§4](https://www.ietf.org/archive/id/draft-acme-device-attest-04.html#section-4) about hardware-module only says:

    If the server includes HardwareModule in the subjectAltName extension the CA MUST verify that the certificate key was generated on the secure cryptoprocessor with the asserted identity and type

Is there a specific choice of GeneralName the CA should expect to find for a hardware-module subjectAltName? Is it an otherName w/ a specific OID like PermanentIdentifier?

[RFC 8555 §7.4](https://www.rfc-editor.org/rfc/rfc8555#section-7.4) says:

    The CSR MUST indicate the exact same set of requested identifiers as the initial newOrder request. Identifiers of type "dns" MUST appear either in the commonName portion of the requested subject name or in an extensionRequest attribute [[RFC2985](https://www.rfc-editor.org/rfc/rfc2985)] requesting a subjectAltName extension, or both. (These identifiers may appear in any sort order.) Specifications that define new identifier types must specify where in the certificate signing request these identifiers can appear.

For an ACME server to meet that requirement I think the specification of the hardware-module identifier needs to provide more detail. WDYT?

Comment from Brandon:

Thank you for the feedback!

Please take a look at https://github.com/brandonweeks/draft-bweeks-acme-device-attest/pull/12 and let me know if the change addresses your feedback.

Addressed by @CBonnell in PR #14 